services:
  - type: web
    name: ecommerce-backend
    runtime: node
    plan: free
    buildCommand: yarn install && yarn build
    startCommand: yarn start:prod
    envVars:
      - key: NODE_ENV
        value: production
